{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="page-header">
    <h2>Re-identification</h2>
    <p class="lead">by Yizhuang ZHOU, Tsinghua univ.</p>
  </div>
</div>

<div class="container">
    <form enctype="multipart/form-data" action="../add_to_database/" method="post" id="person_form" novalidate>
    <div>
        <label class="required" for="id_name">Name:</label>
        <input class="vTextField" id="id_name" maxlength="20" name="name" type="text" />
    </div>
    <div>
        <label class="required" for="id_upload">Upload:</label>
        <input id="id_upload" name="upload" type="file" />
    </div>
    <div>
    <input type="submit" value="Save" class="default" name="_save" />
    </div>
    </form>
</div>
{% endblock %}